main {
  display: grid;
  grid-template-columns: 23vmin 23vmin 23vmin;
  grid-gap: 0px;
}

app-square {
  border: 1px solid rgb(41, 31, 77);
  height: 23vmin;
}

app-ripple-overlay {
  border: 1px solid rgba(60, 0, 255, 0.63);
  height: 23vmin;
}

.container {
  position: relative;
}

.overlap {
  position: absolute;
}

.ripple {
  z-index: 100;
}

.board {
  z-index: 1;
}
