<!-- #region buttons-->
<div class="button-row">
  <div class="flex-container">
    <button
      mat-icon-button
      color="primary"
      aria-label="Used to go in /"
      matTooltip="New Game"
      [matTooltipDisabled]="gameIconFilled"
      routerLink="/"
      routerLinkActive="active"
    >
      <div class="container">
        <div class="overlap">
          <mat-icon
            *ngIf="gameIconFilled"
            class="material-icons icon-x24"
            [@inOutAnimation]
            >sports_esports
          </mat-icon>
        </div>

        <div class="overlap">
          <mat-icon
            *ngIf="!gameIconFilled"
            class="material-icons-outlined icon-x24"
            [@inOutAnimation]
            >sports_esports
          </mat-icon>
        </div>
      </div>
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    <button
      mat-icon-button
      color="primary"
      aria-label="Used to go in /top"
      matTooltip="Leaderboard"
      [matTooltipDisabled]="leaderboardIconFilled"
      routerLink="/top"
      routerLinkActive="active"
    >
      <div class="container">
        <div class="overlap">
          <mat-icon
            *ngIf="leaderboardIconFilled"
            class="material-icons icon-x24"
            [@inOutAnimation]
            >leaderboard
          </mat-icon>
        </div>

        <div class="overlap">
          <mat-icon
            *ngIf="!leaderboardIconFilled"
            class="material-icons-outlined icon-x24"
            [@inOutAnimation]
            >leaderboard
          </mat-icon>
        </div>
      </div>
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    <button
      mat-icon-button
      color="primary"
      aria-label="Used to go in the github page"
      matTooltip="Source code"
      (click)="goToLink('https://github.com/VenomBigBozz/Angular.Tris')"
    >
      <mat-icon class="icon-x24" svgIcon="git"></mat-icon>
    </button>
  </div>
</div>
