<!-- #region buttons-->
<button
  mat-icon-button
  color="primary"
  aria-label="Used to go in /game"
  routerLink="/game"
  routerLinkActive="active"
>
  <mat-icon class="material-icons-outlined">sports_esports </mat-icon></button
><button
  mat-icon-button
  color="primary"
  aria-label="Used to go in /top"
  routerLink="/top"
  routerLinkActive="active"
>
  <mat-icon class="material-icons-outlined">leaderboard </mat-icon></button
><button
  mat-icon-button
  color="primary"
  aria-label="Used to go in the github page"
  (click)="goToLink('https://github.com/VenomBigBozz/Angular.Tris')"

><!-- https://akveo.github.io/eva-icons/outline/svg/github-outline.svg -->
  <mat-icon class="material-icons-outlined">sports_esports </mat-icon>
</button>
