<nb-actions size="medium">
  <nb-action
    [icon]="gameIcon"
    nbPopover="Game"
    nbPopoverTrigger="hover"
    nbPopoverPlacement="bottom"
    routerLink="/game"
    routerLinkActive="active"
  ></nb-action>
  <nb-action
    [icon]="archiveIcon"
    nbPopover="Match History"
    nbPopoverTrigger="hover"
    nbPopoverPlacement="bottom"
    routerLink="/top"
    routerLinkActive="active"
  ></nb-action>
  <nb-action
    [icon]="githubIcon"
    nbPopover="Github"
    nbPopoverTrigger="hover"
    nbPopoverPlacement="bottom"
    (click)="goToLink('https://github.com/VenomBigBozz/Angular.Tris')"
  ></nb-action>
</nb-actions>
